// Mixinler
@mixin phone {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

.course-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 400px;
    height: 400px;
    margin-bottom: 1rem;

    @include phone {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    color: #333;
    margin-bottom: 1rem;
  }

  .course-details {
    padding: 1.6rem;
    background-color: #2d2f31;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;

    @include phone {
      width: 100%;
      height: auto;
      padding: 1rem;
    }

    span {
      padding-bottom: 5px;
      &:first-child {
        border-right: 1px solid whitesmoke;
        padding-right: 20px;
      }
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }

    button {
      margin-top: 1rem;

      @include phone {
        margin-top: 0.5rem;
      }
    }
  }
}
