// Cihaz Kırılma Noktaları
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

// Mixinler
@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$breakpoint-phone}) {
    @content;
  }
}
